<div class ="container">
  <h1>About Yelp!</h1>
  <p>Yelp is a local-search service powered by crowd-sourced review forum, 
  as well as an American multinational corporation headquartered in San Francisco, California. 
  It develops, hosts and markets Yelp.com and the Yelp mobile app, which publish crowd-sourced 
  reviews about local businesses, as well as the online reservation service Yelp Reservations. 
  The company also trains small businesses in how to respond to reviews, hosts social events for 
  reviewers, and provides data about businesses, including health inspection scores.</p>

  <p>Yelp was founded in 2004 by former PayPal employees Russel Simmons and Jeremy Stoppelman. 
  Yelp grew quickly and raised several rounds of funding. By 2010 it had $30 million in revenues 
  and the website had published more than 4.5 million crowd-sourced reviews. From 2009 to 2012, 
  Yelp expanded throughout Europe and Asia. In 2009 it entered several negotiations with Google 
  for a potential acquisition. Yelp became a public company in March 2012 and became profitable 
    for the first time two years later. During the fourth quarter of 2017, Yelp has 77 
      million unique visitors via desktop computer and 64 million unique visitors via mobile 
      website on a monthly average basis. By the end of 2017, Yelp has 148 million reviews. </p>
</div>
